# .gitignore
server/config/google-vision-key.json

# Ignore Node.js dependencies
client/node_modules/
server/node_modules/
/node_modules

# Ignore build files
client/build/
server/build/

# Ignore environment files
client/.env
.env

# Ignore database dumps
*.dump
*.sql
local_db.dump

# Ignore OS/system-specific files
.DS_Store
Thumbs.db
node_modules
local_db.dump
