.account-settings-wrapper {
    background: #fff;

    margin: 0 auto;
  }

  .account-settings {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 80vh;
    min-height: 80vh;
  }
  
  .account-settings h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .account-settings .settings-group {
    margin-bottom: 1.5rem;
    padding: 2rem;
    background: rgba(219, 202, 167, 0.15);
    border-radius: 8px;
  }
  
  .account-settings .setting {
    margin-bottom: .5rem;
  }
  
  .account-settings label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .account-settings input[type="text"],
  .account-settings input[type="email"],
  .account-settings input[type="password"],
  .account-settings textarea,
  .account-settings select {
    width: 250px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .account-settings #bio {
    height: 75px;
  }
  
  .settings-button {
    padding: 0.5rem 1rem;
    border: none;
    background: rgba(219, 202, 167, 0.7);
    border-radius: 4px;
    cursor: pointer;
    margin-right: 0.5rem;
  }
  
  .settings-button:disabled {
    background: #ccc;
    cursor: not-allowed;
  }
  
  .settings-button.edit-button {
    background: transparent;
    border: 1px solid rgba(219, 202, 167, 0.7);
  }
  
  .settings-button-container {
    text-align: center;
    margin-top: 1rem;
  }

  @media(max-width: 768px) {
    .account-settings{
        grid-template-columns: auto;
        max-height: 70vh;
        min-height: 70vh;
    }
  }
  