/* Event container */
.event-container {
    position: relative;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), inset 0px 1px 3px rgba(255, 255, 255, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    height: 250px;
    width: 250px;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--text-color);
    user-select: none; /* Prevent text highlighting */
}

.event-container.selected {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2), inset 0px 1px 5px rgba(255, 255, 255, 0.4);
    transform: translateY(-3px);
}

.event-container:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
}

/* Header: Like button and ellipsis menu */
.event-header-left {
    position: absolute;
    margin-left: 50px;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.event-header-right {
    position: absolute;
    top:10px;
    right:10px;
}

/* Event Content */
.event-content {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    word-wrap: break-word;
    hyphens: auto;
    padding: 40px 10px 0;
    text-align: left;
    margin-right: 30px;
}

.view-event-icon{
    position: absolute;
    bottom: 20px;
    left: 47%;
}

/* Profile picture styling */
.creator-profile-pic {
    position: absolute;
    top: -10px;
    left: -10px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 2px solid #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
}

.creator-profile-pic:hover {
    transform: scale(1.05);
}

/* Title, including Time Capsule Icon if applicable */
.event-content h3 {
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 10px 0;
    border-bottom: 3px solid rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    gap: 5px;
    line-height: 1.4;
}

.time-capsule-icon {
    color: var(--button-bg);
    font-size: 1rem;
}

/* Event description */
.event-content p {
    font-family: 'Inter', sans-serif;
    font-size: 0.95rem;
    margin-top: 8px;
    line-height: 1.2;
}

/* Read more styling */
.read-more {
    cursor: pointer;
    font-weight: bold;
}

.read-more:hover {
    color: var(--link-hover-color);
}

/* Footer (username link and notification badge) */
.event-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.stats {
    position: absolute;
    bottom: 5px;
    right: 5px;
    display:flex;
    align-items: flex-end;
    flex-direction: column;
}

.stats-counter{
    font-size: 0.85rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
}

.creator-link {
    font-family: 'Inter', sans-serif;
    font-size: 0.85em;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.creator-link:hover {
    color: var(--link-hover-color);
}

.shared {
    color: green;
}

/* Color variations with contrasting text color */
.color1 { background-color: #a0b2a3; color: #2a2f23; }
.color2 { background-color: #768e79; color: #ffffff; }
.color3 { background-color: #b0beab; color: #333333; }
.color4 { background-color: #e9977c; color: #2a2f23; }
.color5 { background-color: #e4aa88; color: #2a2f23; }
.color6 { background-color: #d1765e; color: #ffffff; }
.color7 { background-color: #dbcaa7; color: #333333; }
.color8 { background-color: #caaf8d; color: #333333; }
.color9 { background-color: #dbc49f; color: #333333; }