.explore-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    transition: all 0.8s ease;
    justify-content: space-between;
}

.explore-tabs {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    width: 50%;
    align-self: center;
}

.explore-tab-button {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background: rgba(110, 110, 110, 0.8);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.explore-tab-button:hover {
    background: rgba(110, 110, 110, 1);
    transform: scale(1.05);
}

.active-explore-tab {
    background: #8c7051;
    color: #fff;
    box-shadow: 0px 4px 12px rgba(75, 1, 29, 0.5);
}

.active-explore-tab:hover {
    background: #6d583f;
    color: #fff;
    box-shadow: 0px 4px 12px rgba(75, 1, 29, 0.5);
}

.explore-sections {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    min-height: 100%;
}

.explore-container {
    position: relative;
    border-radius: 8px;
    box-shadow: inset 0px 4px 12px rgba(110, 110, 110, 0.15);
    overflow-y: auto;
    padding: 20px;
    background-color: rgba(110, 110, 110, 0.15);
    height: 75%;
    box-sizing: border-box;
}

.explore-container::-webkit-scrollbar {
    width: 8px;
}

.explore-container::-webkit-scrollbar-thumb{
    width: 8px;
    background-color: #bbb;
    border-radius: 8px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .explore-wrapper {
        width: 95vw;
        margin-top: 12%;
    }
    .explore-container {
        padding: 10px;
        height: 80%;
        overflow-x: hidden;
    }
    .explore-tab-button {
        font-size: 0.9rem;
    }
}
