.feed-post{
    display:flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    position: relative;
    gap: 10px;
    transition: transform 0.3s ease;
    user-select: none;
}

.feed-post:hover {
    transform: translateY(-3px);
}

.feed-post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
    flex-wrap: wrap;
}

.feed-post-header h3{
    word-wrap: break-word;
    hyphens:auto;
    font-weight: bold;
}

.opted-in-icon{
    position: absolute;
    top:0;
    right: 50px;
}

.profile-picture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #f3f0e7; /* Matches feed background */
    position: absolute;
    top: -10px;
    left: -10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.feed-post-username {
    margin: 0 50px; /* Offset for profile picture */
    font-weight: bold;
    font-size: 1.2em;
}

.feed-post-content {
    padding: 10px 15px;
    margin: 30px auto;
    transition: box-shadow 0.3s ease;
    word-wrap: break-word;
    hyphens:auto;
}

.feed-post-stats {
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.shared {
    color :green;
}

.feed-post-content h3 {
    margin: 0;
    font-size: 1.3em;
}

.feed-post-content p {
    font-size: 1em;
}

.feed-post:hover .feed-post-content {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.feed-post-stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9em;
    padding: 10px 0;
    border-top: 1px solid #e0e0e0;
    margin-top: 10px;
}

.feed-post-timestamp {
    flex: 1;
    text-align: left;
    font-size: 0.85em;
}

.stats-counter{
    display:flex;
    justify-content: space-between;
    margin-right: 5px;
    padding: 2px;
    gap: 5px;
}
