.feed-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 90vw;
    max-width: 1200px;
    height: 90vh;
    margin: 75px auto 0;
    padding: 0 15px;
    transition: all 0.8s ease;
}

/* Header and Container */
.feed-header-and-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
}

/* Scrollable Feed Container */
.feed-container {
    position: relative;
    height: 70vh;
    border-radius: 8px;
    box-shadow: inset 0px 4px 12px rgba(110, 110, 110, 0.15);
    overflow-y: auto;
    padding: 20px;
    background-color: #f9f8f7;
}

/* Hide scrollbar on Webkit */
.feed-container::-webkit-scrollbar {
    display: none;
}