/* Overall styling for the container */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #fff;
    color: #3d3b30;
    margin-top: 5%;
}

/* Form card styling */
.login-card {
    position: relative;
    background-color: darksalmon;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); 
    max-width: 300px;
    text-align: center;
    border: 5px solid #333;
}

/* Title styling */
.login-card h2 {
    color: #fff; 
    font-size: 1.8em;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Input styling */
.login-card-input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #c5a880; 
    background-color: #fdf3e1;
    font-size: 1em;
    color: #3d3b30;
    outline: none;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease;
}

.login-eye {
    position: absolute;
    right: 12px;
    top: 205px;
}

/* Button styling */
.login-card button {
    padding: 12px 20px;
    font-size: 1em;
    font-weight: bold;
    color: #ffffff;
    background-color: #a6765e; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

.login-card button:hover {
    background-color: #8c5e45;
}

/* Link styling */
.login-card p {
    color: #fff;
    font-size: 0.9em;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 10px;
    text-decoration: none;
}

.login-card p:hover {
    color: #6d5238;
}

.check-username {
    position: absolute;
    left: 15px;
    top: 168px;
}

.login-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
}

.login-logo {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.login-header h1 {
    font-size: 2rem;
    color: #333;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* messages to user */

.session-expired-message,
.email-verified-message {
    max-width: 225px;
}
