.memory-entry {
    position: relative;
    min-width: 90%;
    max-width: 90%;
    margin: 8px 0;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .memory-entry.main-memory {
    border: 4px solid goldenrod;
  }

  .crown-icon {
    position: absolute;
    top: -39px;
    left: -22px;
    color: goldenrod;
    font-size: 3rem;
    pointer-events: none;
    transform: rotate(-25deg);
  }
  
  .memory-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .memory-username {
    font-weight: bold;
    font-size: 1rem;
    color: #190933;
  }
  
  .delete-memory-button {
    background: none;
    border: none;
    color: #f44336;
    cursor: pointer;
    font-size: 1.2rem;
    transition: color 0.3s ease;
  }
  
  .delete-memory-button:hover {
    color: #d32f2f;
  }
  
  .memory-content {
    margin-bottom: 10px;
    font-size: 1rem;
    line-height: 1.4;
    color: #333;
  }
  
  .memory-media-collage {
    display: grid;
    grid-template-columns: repeat(2, minmax(80px, 1fr));
    gap: 8px;
    /* margin-top: 50px; */
  }

  .pending-media-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #f7f7f7;
    border: 1px dashed #aaa;
    border-radius: 6px;
    color: #555;
    font-style: italic;
    margin-top: 25px;
  }
  
  .collage-item {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
  }
  
  .collage-item-video {
    grid-column: span 2;
    grid-row: span 2;
  }
  
  .collage-media {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .memory-entry {
      padding: 10px;
    }
    .memory-media-collage {
      gap: 5px;
    }
  }
  