/* Container */

/* Expanded state */
.messenger-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

/* Close Overlay Button */
.close-overlay-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0.5em 1em;
    font-size: 1em;
    background: #fff;
    color: #190010;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    z-index: 10000;
}

.close-overlay-btn:hover {
    background-color: #999;
    transform: scale(1.05);
}