.messenger-container {
    /* position: relative; */
    height: 100%;
    width: fit-content;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 10001;
}

@media (max-width: 768px) {
    .messenger-container {
        /* position: relative; */
        height: 100%;
        width: 100%;
        justify-content: flex-end;
        align-items: flex-end;
    }
}