/* Main container adjustment */
.moderator-tools {
    width: 100%;
    height: 100%; 
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.253);
    display: flex;
    gap: 20px; 
    box-sizing: border-box;
}

/* Flexbox for responsive layout */
.moderator-tools-group {
    flex: 1 1 48%; 
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    box-sizing: border-box;
    max-height: 100%;
    gap: 15px; 
}

.audit-log-wrapper,
#ban-user-section,
.mod-notes-section,
#picture-mod-queue-section {
    width: 100%;
    max-height: calc(50% - 20px);
    margin-top: 20px;
}

#ban-user-section{
    display:flex;
    flex-direction: column;
    flex: 1;
}

.ban-user-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}

.ban-user-form input{
    min-height: 25px;
}

#reason-input{
    flex: 1;
    width: 100%;
    resize: none;
}

/* Individual Section Styles */
.audit-log, .mod-notes, #picture-mod-queue-section {
    max-height: 180px;
    overflow-y: scroll;
}

.audit-log-entry, .mod-note {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.mod-button{
    justify-content: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .moderator-tools-group {
        flex: 1 1 100%;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .moderator-tools {
        flex-direction: column;
        overflow-y: scroll;
    }

    .moderator-tools section {
        width: 100%;
        margin-top: 20px;
    }

    .ban-user-form input,
    textarea,
    .mod-button,
    .admin-button {
        width: 100%;
    }
}
