/* Navbar container */
.navbar-wrapper {
    width: fit-content;
    max-width: 100%;
    position: fixed;
    bottom: 5px;
    left: auto;
    display: flex;
    justify-content: center;
    z-index: 1001;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    padding: 10px 0;
    background: linear-gradient(270deg, #a56e77 0%, #b18469 100%);
    border-radius: 10px;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.2);
}

.nav-item,
.nav-dropdown-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

.nav-item.active,
.nav-dropdown-toggle.active {
    color: var(--background-color);
}

.nav-dropdown-toggle {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Dropdown Content */
.nav-dropdown-content {
    position: absolute;
    bottom: 70px;
    display: flex;
    flex-direction: column;
    width: 90vw;
    max-width: 400px;
    padding: 15px;
    background-color: #333;
    color: #e4dbc3;
    border-radius: 12px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    animation: slideDown 0.4s ease;
    z-index: 1100;
}

.nav-dropdown-content p {
    margin: 0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .navbar-wrapper{
        bottom: 0;
    }

    .navbar {
        justify-content: space-around;
        padding: 10px 20px;
        height: 35px;
        border-radius: 10px 10px 0 0;
    }

    .nav-item {
        font-size: 1em;
    }

    .nav-dropdown-toggle {
        position: fixed;
        bottom: 70px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        z-index: 10000;
        background: linear-gradient(270deg, #a56e77 0%, #b18469 100%);
        border: 1px solid rgba(255, 255, 255, 1);
        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3),
                    -1px 2px 2px rgba(0, 0, 0, 0.3);
        font-size: 1em;
    }

    .nav-dropdown-toggle:nth-child(4) {
        right: 2px;
        bottom: 200px;
        font-size: 1.5em;
    }

    .nav-dropdown-toggle:nth-child(5) {
        right: 2px;
        bottom: 140px;
        font-size: 1.5em;
    }

    .nav-dropdown-content {
        width: 80vw;
        margin: auto;
        top: -75vh;
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
