.notification-badge {
    position: absolute;
    top: -3.15px;
    right: 0;
    font-size: 0.75rem;
    font-weight: bold;
    border-radius: 50%;
    padding: 3px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.6);
    transition: transform 0.2s ease-in-out;
    color:#fff;
    background-color: #190933;
    cursor: default;
}

/* Styling for smaller screens */
@media (max-width: 768px) {
    .notification-badge {
        font-size: 0.7rem;
    }
}
