/* Main container for toggle button and search-filter */
.search-filter-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 40px;
}

/* Toggle button for expanding/collapsing the search-filter */
.toggle-button {
    position: absolute;
    left: 7px;
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    height: 24px;
    width: 24px;
    font-size: 1.2em;
    color: rgb(119, 134, 122);
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.toggle-button:hover {
    background-color: #dde7df;
}

.toggle-button:active {
    transform: translateX(-10%) scale(0.95);
  }

.search-filter-wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 2px;
    background: transparent;
    border-radius: 8px;
    width: fit-content;
    margin-left: 35px;
}

/* Search bar container */
.search-bar-container {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
}

.search-icon {
    position: absolute;
    left: 4px;
    color: #ffffff;
    pointer-events: none;
}

.search-bar {
    flex: 1;
    padding: 4px 4px 4px 24px;
    max-width: 120px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #222;
    color: #e6dbbd;
    outline: none;
    transition: border-color 0.3s ease;
}

/* Sort controls */
.sort-controls {
    display: flex;
    align-items: center;
}

.sort-dropdown {
    flex: 1;
    font-size: .8em;
    padding: 4px;
    width: 85px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #222;
    color: #e6dbbd;
    cursor: pointer;
}

.sort-dropdown option{
    font-size: 1.2em;
}

.sort-order-button {
    background: none;
    border: 1px solid rgb(0, 0, 0);
    color: rgba(25, 9, 51, .8);
    cursor: pointer;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 1px;
    margin: 7px 5px;
}
.sort-order-button:hover{
    background-color: #dde7df;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    
}
