/* Container */
.toggleable-list.expanded {
    position: fixed;
    top: 0;
    left: 0;
    height: 87vh;
    min-width: 100vw;
    max-width: 100vw;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    background: #fff;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

/* Toggle Button Styling */
.toggleable-toggle-button {
    width: 36px;
    height: 36px;
    padding: 0;
    font-size: 1.2em;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.2s ease;
    position: fixed;
    right: 10px;
    top: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    user-select: none;
    z-index: 10000;
}

.toggleable-toggle-button:hover {
    background-color: rgba(0, 0, 0, 0.6);
    transform: scale(1.1);
}

.toggleable-toggle-button:active {
    transform: translateX(-10%) scale(0.95);
  }

.toggleable-toggle-button:focus {
    outline: none;
}

/* Profile Picture Styling */
.toggleable-list.expanded .profile-link {
    margin: 0 auto;
}

.toggleable-profile-picture {
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
    height: 100px;
    width: 100px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.8);
    transition: transform 0.3s ease;
}

.toggleable-profile-picture:hover {
    transform: scale(1.05);
}

/* Expanded List Content */
.toggleable-list-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 30%;
}

.toggleable-button {
    display: flex;
    gap: 10px;
    min-width: 25px;
}

.menu-dropdown {
    position: fixed;
    width: 100%;
    height: 90%;
    background: #fff;
    padding-top: 10%;
}

.close-dropdown {
    position: absolute;
    background-color: #555;
    color: #fff;
    top: -1%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 47%;
    height: 32px;
    width: 32px;
    border: 2px solid darksalmon;
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}